/* #region NavBar */

.nav-container {
  height: 60px;
}

nav {
  display: flex;
  padding: 0 3rem;
  justify-content: space-between;
  align-items: center;
}

nav a {
  font-size: 0.9rem;
  text-decoration: none;
}

nav ul {
  list-style: none;
}

.nav-left,
.nav-right {
  display: flex;
  gap: 1rem;
}

.nav-left div,
.nav-left ul {
  display: flex;
  align-items: center;
  gap: 1rem;
}

nav img {
  height: 20px;
}

.nav-divider {
  content: "";
  width: 1px;
  height: 20px;
  background-color: black;
}

/* #endregion */

/* #region Home */

.home {
  display: flex;
  flex-direction: column;
}

.home-container {
  align-self: center;
  margin-top: 10vh;
  display: flex;
  gap: 5rem;
  max-width: 1000px;
}

/* #endregion */

/* #region Habits */

.habits {
  display: flex;
  justify-content: center;
}

.habits-container {
  margin-top: 12vh;
  display: flex;
  flex-wrap: wrap;
  justify-content: flex-start;
  gap: 3rem 6rem;
  max-width: 750px;
}

.habits figure {
  margin: 0;
  padding: 0.5rem;
  text-align: center;
  border-radius: 0.3rem;
}

.habits figure:hover {
  background-color: rgb(248, 248, 248);
}

.habits figure img {
  height: 170px;
}

.habits a {
  text-decoration: none;
}

/* #endregion */

/* #region Habit */

.active {
  background-color: coral;
}

.habit {
  display: flex;
  justify-content: center;
}

.habit-container {
  margin-top: 4vh;
  display: flex;
  flex-direction: column;
  align-items: flex-start;
}

.habit-content {
  margin-top: 5vh;
  display: flex;
  gap: 10vw;
  justify-content: center;
}

.habit-left > div:nth-of-type(1) {
  display: flex;
  gap: 3rem;
  align-items: center;
}

.habit-left img {
  height: 150px;
}

.habit input {
  border: none;
  font-size: 2.5rem;
}

.habit input:focus {
  outline: none;
}

.habit-left > div:nth-of-type(2),
.habit-left > div:nth-of-type(3) {
  margin-top: 2rem;
  display: flex;
  flex-direction: column;
  align-items: flex-start;
}

.habit-left > div:nth-of-type(3) > div {
  display: flex;
  align-items: center;
  gap: 1rem;
}

.time {
  background-color: rgb(248, 248, 248);
  padding: 1rem;
  border-radius: 50%;
}

.button-container {
  display: flex;
  flex-direction: column;
  gap: 0.3rem;
}

.button-container button {
  height: 18px;
  width: 18px;
  display: flex;
  align-items: center;
  justify-content: center;
}

.habit-right {
  min-width: 500px;
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  gap: 2rem;
}

/* #endregion */

/* #region Dashboard */

.dashboard .selected {
  color: white;
  background-color: rgb(34, 34, 34);
}

.dashboard {
  margin-top: 12vh;
  display: flex;
  justify-content: center;
  gap: 10vw;
}

.dashboard-week {
  display: flex;
  gap: 1rem;
  margin-top: 4rem;
}

.dashboard p {
  margin: 0;
}

.dashboard-week div {
  border: 0.5px black solid;
  padding: 0.5rem;
  border-radius: 0.3rem;
  display: flex;
  gap: 0.5rem;
  flex-direction: column;
  align-items: center;
}

.selected {
  background-color: rgb(31, 31, 31);
  color: white;
}

.dashboard-view {
  margin-top: 4rem;
  display: flex;
  flex-direction: column;
  gap: 1rem;
}

.habit-check {
  display: flex;
  gap: 0.5rem;
}

.disabled {
  color: rgb(85, 85, 85);
}

.dashboard-right {
  min-width: 500px;
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  gap: 3rem;
}

.streak-counters {
  display: flex;
  align-self: center;
  gap: 3.5rem;
}

.streak-counters div {
  display: flex;
  gap: 0.5rem;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  padding: 1rem;
  border: 1px solid black;
  border-radius: 50%;
  width: 80px;
  height: 80px;
}

.streak-counters div p:nth-of-type(1) {
  font-size: 2rem;
  margin: 0;
}

.streak-counters div p:nth-of-type(2) {
  margin: 0;
}

/* #endregion */
